<head>
<title>{{ home.title }}</title>
<meta charset="utf-8">
<meta name="description" content="{{ home.subtitle }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="/static/favicon.png"/>
{% set css %}
{% include "assets/css/mainStyles.css" %}
{% include "assets/css/navigation.css" %}
{% include "assets/css/variables.css" %}
{% include "assets/css/vacancies.css" %}
{% include "assets/css/portfolio.css" %}
{% endset %}

<style>
    {{css | safe}}
</style>
</head> 