<title>{{ site.title }}</title>
<meta charset="utf-8">
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set css %}
    {% include "assets/css/mainStyles.css" %}
    {% include "assets/css/navigation.css" %}
{% endset %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<style>
      {{css | cssmin | safe}}
</style>

