  <header class="header">
    <a class="cosysoft" href="{{ '/' | url }}">
      CosySoft
    </a>

    <nav>
      {% set navPages = collections.all | eleventyNavigation %}
      <ul class="navigation__list">
      {%- for entry in navPages %}
        <li  
        {% if entry.url == page.url %} 
          class="active-tab"
        {% endif %} 
        >
          <a 
          class="site-header__link" 
          href="{{ entry.url | url }}">

          {{ entry.title }}
          </a>
        </li>
      {%- endfor %}
      </ul>
    </nav>
  </header>
