<div class="portfolio__list">
   {% for project in portfoliolist %}
    <a class="portfolio__item" href="{{ project.url | url }}">
      <img src={{ project.data.preview }} class="portfolio__img">
      <div class="portfolio__preview_info">
         <p class="portfolio__title">{{ project.data.title }}</p>
         <p class="portfolio__description">{{ project.data.description }}</p>
      </div>
      
    {# <div class="portfolio__main_info">
      <div class="portfolio__title__block">
         <span>
            {{portfolio.emoji}}
         </span>
         <p class="portfolio__title">{{portfolio.title}}</p>
      </div>
      <p class="portfolio__title">{{portfolio.rank}}</p>
      <p class="portfolio__city">{{portfolio.city}}</p>
    </div> #}
    </a>
     {% endfor %}
</div>