html {
  font-size: 62.5%;
  font-family: var(--font-family-lato); 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.618;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.img-subtitle-block {
  display: flex;
  justify-content: center;
  gap: 7rem;
}
.title {
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
}

.subtitle {
  margin: 0;
  display: flex;
}
.cosysoft__image {
  border-radius: 16px;
  width: 300px;
  height: 300px
}
/* #main-layout {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px 20px;
} */

#content-layout {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px 20px;
}

@media (min-width: 1024px) {
  #main-layout {
    padding: 20px 40px;
  }
}

main {
  padding: 13px; 
}
#frontend-engineer {
  font-family: var(--font-family-kaushan);
}
a {
  text-decoration: none;
  color: black;
}
hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible;
  border-color:rgba(0, 0, 0, 0.06);
}

p {
  margin: 0px;
}

.marked__text {
  color: var(--color-yellow);
  font-weight: bold;
}

.about__page_img {
  max-width: 40%;
}

.about__page {

  display: flex;
  gap: 32px
}
.pagination__page {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px
}