.cosysoft {
  color: #000;
  font-size: 40px;
  text-decoration: none;
  font-family: var(--font-family-kaushan);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  font-family: var(--font-family-lato);
}

ul > li.navPages__item {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

ul > li.navPages__item::after,
ul > li.pagination__item::after {
  display: block;
  margin-top: 20px;
  content: '';
  height: 4px;
  background-color: var(--color-yellow);
  transition: all 300ms ease 0s;
  transform: scaleX(0);
}

ul > li[aria-label="active-tab"]::after,
ul > li[aria-current="active-pagination"]::after {
  margin-top: 20px;
  transform: scaleX(1);
}

.navigation__list {
  display: flex;
  gap: 32px
}

.site-header__link:hover,
.pagination__link:hover {
  color: var(--color-yellow)
}