<!doctype html>

<html lang="{{ site.language }}">

  {% include "components/head.njk" -%}

  <body class="body">
    {% include "components/navigation.njk" %}

    <div class="container">
      {{ content | safe }}
    </div>

    <script src="/scripts/main.js"></script>
     {{ js | safe }}
  </body>
</html>