---
layout: layouts/base.njk
pagination:
    data: possums
    size: 2
    alias: possum
---
<div id="content-layout">
    <div class="vacancies__header">
        <h1>{{title}}</h1>
    </div>
    <hr>
    <div class="pagination__page">

{# {{ possum.name }} is {{ possum.age }} years old #}

{%- for post in possum %}
- [{{ post.name }}]()
{%- endfor %}

<nav aria-labelledby="page-navigation">
    {# {%- for post in possum %}
    - [{{ post.name }}]()
    {%- endfor %} #}
    <ul>
      <li>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% else %}First{% endif %}</li>
      <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
      {%- for pageEntry in pagination.pages %}
      {{ loop.index | log}}
      <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
      {%- endfor %}
      <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
      <li>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% else %}Last{% endif %}</li>
    </ul>
  </nav>

{# {{ possum.name }} is {{ possum.age }} years old #}
{# {% if pagination.href.previous %}
  <a href="{{pagination.href.previous}}">Previous Page</a>
{% endif %}
{% if pagination.href.next %}
  <a href="{{pagination.href.next}}">Next Page</a>
{% endif %} #}


    </div>
</div>