---
layout: layouts/base.njk
section: portfolio
---
<div id="content-layout">
    <div class="vacancies__header">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
    </div>
    <hr>
     {{ layoutContent | safe }}
     
    {% set portfoliolist = collections.portfolio %}
    {% include "components/portfolioList.njk" %}
</div>